<h1>Admin Dashboard</h1>
<p>Total products: <%= @productCount %></p>
<p>Total categories: <%= @categoryCount %></p>
<%= link_to 'View all products', admin_products_path, class: 'btn btn-info' %>
<%= link_to 'View all categories', admin_categories_path, class: 'btn btn-info' %>